services:
  app:
    build: .
    ports:
      - "8000:8000"
    command: sh -c "uv run uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload"
    depends_on:
      - redis
  redis:
    image: redis:8.4.0
    ports:
      - "6379:6379"
  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"